body {
  background-image: url('/public/assets/img3.jpeg');
}
*{
  margin: 0;
  padding: 0;
}


.Schedule{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  /* flex-wrap: wrap; */
  background: rgb(175,219,228);
  background: linear-gradient(170deg, rgba(175,219,228,1) 0%, rgba(236,215,220,1) 100%);
}
.title{
  color:black;
  width: 100%;
  font-weight: bold;
  /* text-align: center; */
}
a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
a:hover{
  text-decoration: underline;
  transition: 1s;
}
.GameCard{
  width: 1000px;
  /* border:solid gainsboro 1px ; */
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}
.AddGame{
 width: 800px;
 display: flex;
 flex-direction: column;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.form-column {
  width: 48%;
}

label {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 55%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

.filteredResults{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 800px;
  text-align: start;
  
} 
.filteredSearch input{
  width: 98%;
  padding: 20px 10px;
  border-radius: 20px;
  font-size: 20px;
}


.mainnav img{
width: 30px;
margin-right: 12px;
}


 
.route-links{
  width: 100%;
}
#navigation{
box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
width: 98%;
padding: 30px 10px;
margin-bottom: 20px;

}
#Search-a{
  padding-right: 20px;
}
#Games-a{
  padding-right: 20px;
}
#Addgame-a{
  padding-right: 20px;
}
#topbar{
  width: 100%;
  height: 100vh;
  padding: 0 15px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
div h4{
  border: solid 1px rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  padding: 19px 9px;
  border-radius: 12px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: rgb(83, 32, 32);
  font-weight: 900;
  margin-bottom: 30px;  
}
#App {
  background-image: url(../public/assets/img3.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: repeat-y;
}
button{
  background-image: url(../public/assets/img.jpeg); 
  padding: 3px 15px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  font-size: x-large;
  margin-top: 20px;
}

span{
  color: rgb(53, 49, 49);
  font-weight: bolder;
}
.emphasis{
  color: black;
  font-weight:bold;
}
  .highlight {
    position: relative;
  }
  
  .highlight::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: yellow;
    z-index: -1;
  }

a{
  margin-right: 30px;
}
#topbar .center{
  text-align: center;
  width: 900px;
}
#content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
width: 900px;
}
